@charset "ISO-8859-1";
h1{
 color: #000000;
 text-align: center;
 font-family: arial;
 }

 .img1{
   float:right;
   width:400px; 
   height:400px;
 }
 .img2{
   float:left;
   width:400px; 
   height:400px;
 }

 .centro{
   text-align: center;
 }

 .derecha{
   text-align: right;
 }

 .izquierda{
   text-align: left;
 }

 body{
  background-color: rgb(211, 178, 241);
}

 #favorito{
 border: 1px solid #99c; 
 color: #1ABC9C;
 }

 .destacado{
  font-weight: bold;
  color: orange;
  text-align: right;
 }

 header{
   background-color: #a534a9;
   padding: 20px 10px;
  }

nav{
   overflow: hidden;
   font:bold 14px verdana;
   background-color: #c97fca;
   padding: 10px 5px;
}  

.agrupar{
border:1px;
margin: auto;
width:960px;
}

aside{
   margin: 20px;
   padding: 50px;
   width: auto;
   height: auto;
   border: 1px;
   float:right;
   background:rgb(149, 0, 255);
   align-items: center;
   color: white;
}

footer {
   overflow: hidden;
   background-color: #c97fca;
   padding: 20px 10px;
   text-align: center;
   clear:both;
}

footer li{
   list-style: none;
   font:bold 14px verdana;
   padding: 10px;
   display: inline-block;
}

nav a {
   float: left;
   font:bold 14px verdana;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: underline;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
}

nav a:hover {
   background-color: #ddd;
   border:1px solid gray;
   color: black;
}

nav a.active {
   background-color: dodgerblue;
   font:bold 14px verdana;
   border:1px solid gray;
   color: white;
}


  
  